*.mo
*~
._*
.Python
.doctrees
.vagrant
*.sublime-project
*.sublime-workspace
_build/
bin/
build/
include/
lib/
lib64/
local/
/pip-selfcheck.json
/pyvenv.cfg
plone_training_config/training/
presentation/
log/
/training.sublime-workspace
.python-version
package-lock.json
