*.mo
*~
._*
.Python
.doctrees
.vagrant
*.sublime-project
*.sublime-workspace
_build/
bin/
build/
include/
lib/
lib64/
local/
plone_training_config/training/
presentation/
log/
node_modules/
/pip-selfcheck.json
/pyvenv.cfg
/training.sublime-workspace
/.idea
.python-version
package-lock.json
.vscode/settings.json
docs/pyvenv.cfg
.DS_Store
/venv/lib64
/lib64
/venv
/yarn.lock
/.vale
.vale.ini
.vscode
.*project
/.settings/
/lib64
/share/python-wheels
/share
