-c constraints.txt

Sphinx
jsx-lexer
lesscpy
linkify-it-py
myst-parser
nuclia
nucliadb-sdk
sphinx-autobuild
sphinx-book-theme
sphinx-copybutton
sphinx-design
sphinx-sitemap
sphinx-togglebutton
sphinxcontrib-spelling
sphinxext-opengraph
vale==2.30.0
