-c constraints.txt

Sphinx
lesscpy
linkify-it-py
myst-parser
sphinx-autobuild
sphinx-book-theme
sphinx-copybutton
sphinx-design
sphinx-sitemap
sphinx-togglebutton
sphinxcontrib-spelling
sphinxext-opengraph
vale==3.7.1.0
