{% extends "!page.html" %}

{% set css_files = css_files + ["https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css", "_static/custom.css"] %}

{% block footer %}

{%- if builder != 'singlehtml' %}
<div id="bottom-searchbox">
    <div role="search">
        <form id="rtd-search-form" class="wy-form" action="{{ pathto('search') }}" method="get">
            <input type="text" name="q" placeholder="{{ _('Search docs') }}" />
            <input type="hidden" name="check_keywords" value="yes" />
            <input type="hidden" name="area" value="default" />
        </form>
    </div>
</div>   

{%- endif %}

 <script type="text/javascript">
    $(document).ready(function() {
        $(".toggle > *").hide();
        $(".toggle .admonition-title").show();
        $(".toggle .admonition-title").click(function() {
            $(this).parent().children().not(".admonition-title").toggle(400);
            $(this).parent().children(".admonition-title").toggleClass("open");
        })
    });
</script>

<script
src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script>
docsearch({
  // Your apiKey and indexName will be given to you once
  // we create your config

  // appId: "",
  // apiKey: '',
  // indexName: '',
  apiKey: '25626fae796133dc1e734c6bcaaeac3c',
  indexName: 'docsearch'
  // Replace inputSelector with a CSS selector
  // matching your search input
  inputSelector: '#rtd-search-form input[type=text]',
  // Set debug to true if you want to inspect the dropdown
  // debug: true
});
</script>

{% endblock %}




