:root {
  /* --pst-color-preformatted-background: 104, 1, 124, 0.753; */
}

p.ploneorglink img {
  vertical-align: bottom;
}

pre {
  /* border: none; */
  border-radius: 0;
  /* background-color: #e8c8f9;
  background-color: #dec5ec; */
  background-color: white;
  box-shadow: none;
}

a,
a:visited {
  color: #2980b9;
}
a:hover{
  color: #176aa1;
  text-decoration: underline;
}

ul {
  list-style-type: square
}

figure img {
  box-shadow: 0 6px 24px 0 rgba(153,153,153,0.3);
}
.sidebar figure img,
.sidebar img.logo {
  box-shadow: none;
  width: 200px;
}

div.section {
  margin-bottom: 6rem;
}

.admonition {
  border-radius: 0;
  /* box-shadow: none;
  background-color: #f8f8f8; */
  border: none;
  border-left: .2rem solid;
  border-left-color:rgba(var(--pst-color-admonition-default),1);
}
.admonition .admonition-title {
  margin-bottom: 1.5rem !important;
}

/* sidebar and sidebar margin : aside / div */
div.sidebar,
aside.sidebar,
div.margin,
aside.margin,
div.margin-caption p.caption,
.cell.tag_popout,
.cell.tag_margin {
 width:40%;
 float:right;
 border-left:1px #a4a6a7 solid;
 margin-left:0.5em;
 padding:.2em 0 .2em 1em
}
div.sidebar p,
aside.sidebar p,
div.margin p,
aside.margin p,
div.margin-caption p.caption p,
.cell.tag_popout p,
.cell.tag_margin p {
 margin-bottom:0
}
div.sidebar p.sidebar-title,
aside.sidebar p.sidebar-title,
div.margin p.sidebar-title,
aside.margin p.sidebar-title,
div.margin-caption p.caption p.sidebar-title,
.cell.tag_popout p.sidebar-title,
.cell.tag_margin p.sidebar-title {
 font-weight:bold;
 font-size:1.2em
}
@media (min-width: 768px) {
 div.cell.tag_popout,
 div.cell.tag_margin,
 div.margin,
 aside.margin,
 div.margin-caption p.caption {
  border:none;
  clear:right;
  width:31% !important;
  margin:0 -35% 0 0 !important;
  padding:0 !important;
  font-size:0.9rem;
  line-height:1.3;
  vertical-align:baseline;
  position:relative
 }
 div.cell.tag_popout p,
 div.cell.tag_margin p,
 div.margin p,
 aside.margin p,
 div.margin-caption p.caption p {
  margin-bottom:.5em
 }
 div.cell.tag_popout p.sidebar-title,
 div.cell.tag_margin p.sidebar-title,
 div.margin p.sidebar-title,
 aside.margin p.sidebar-title,
 div.margin-caption p.caption p.sidebar-title {
  font-size:1em
 }
 div.cell.tag_margin .cell_output {
  padding-left:0
 }
 div.sidebar:not(.margin),
 aside.sidebar:not(.margin) {
  width:60%;
  margin-left:1.5em;
  margin-right:-28%
 }
}
/* end .sidebar */

ul.search .title_training {
  /* display: block; */
}
ul.search .title_training::before {
  content: ' – ';
}


/* Glossary */

main.bd-content #main-content dl.simple dd:not(:last-child) {
  margin-bottom: 30px;
}
