.wy-nav-content {
    max-width: 1000px;
    padding-left: 2em;
    padding-right: 2em;
}

.rst-content .menuselection{
    background-color: #f9ebb3;
    border: 1px solid #f0b37e;
    border-radius: 3px;
    padding: 1px 6px;
}

.rst-content .guilabel{
    border: 1px solid #777;
    background-color: #cee3fb;
    border-radius: 3px;
    padding: 1px 6px;
}
.rst-content .toggle {
    background: none repeat scroll 0 0 #e7f2fa;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
}

.rst-content .toggle .admonition-title {
    display: block;
    clear: both;
    cursor: pointer;
}

.rst-content .toggle .admonition-title:after {
    content: " ▼";
}

.rst-content .toggle .admonition-title.open:after {
    content: " ▲";
}

.rst-content .toggle p:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1200px){
.wy-nav-content {
    max-width: 1100px !important;
    padding-left: 2em;
    padding-right: 2em;
}
.wy-body-for-nav{
    background: #fcfcfc
}
.wy-nav-top{
display: block
}
.wy-nav-side{
left: -300px
}
.wy-nav-side.shift{
width: 85%;
left: 0
}
.wy-nav-content-wrap{
margin-left: 0
}
.wy-nav-content-wrap .wy-nav-content{
padding: 1.618em
}
.wy-nav-content-wrap.shift{
position: fixed;
min-width: 100%;
left: 85%;
top: 0;
height: 100%;
overflow: hidden
}

}
