name: Nuclia Sync

on: [push]
jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install requirements
        run: |
          pip install -q -r requirements.txt

      - name: Run Nuclia Sync
        env:
          DEPLOY_NUCLIA_URL: ${{github.repository.DEPLOY_NUCLIA_URL}}
          DEPLOY_NUCLIA_TOKEN: ${{secrets.DEPLOY_NUCLIA_TOKEN}}
        run: |
          python3 upload.py
          
      - name: Check for changes in nuclia_sync.json
        id: check_changes
        run: |
          CHANGED_FILES=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }})
          echo "Changed files: $CHANGED_FILES"
          if echo "$CHANGED_FILES" | grep -q 'nuclia_sync.json'; then
            echo "::set-output name=changed::true"
          else
            echo "::set-output name=changed::false"
          fi
  
      - name: Commit changes 
        if: steps.check_changes.outputs.changed == 'true'
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
          git add .
          git commit -m "Nuclia Sync: Updated docs" 
          git push
