name: Nuclia Sync

on:
  push:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: 'pip'

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -q -r requirements.txt -c constraints.txt
          pip freeze

      - name: Building html
        run: |
          make html

      - name: Run Nuclia Sync
        env:
          DEPLOY_NUCLIA_URL: ${{vars.DEPLOY_NUCLIA_URL}}
          DEPLOY_NUCLIA_TOKEN: ${{secrets.DEPLOY_NUCLIA_TOKEN}}
        run: |
          python3 upload.py
